body {
    margin: 0;
}

.content {
    padding-bottom: 60px;
}

.red_gradient {
    background: #9F0700;
    background: linear-gradient(180deg, rgba(159, 7, 0, 1) 0%, rgba(159, 7, 0, 1) 40%, rgba(105, 5, 0, 1) 90%, rgba(97, 5, 0, 1) 100%);
    background-repeat: no-repeat;
}

.red_dark {
    background-color:  rgba(97, 5, 0, 1);
}

.orange_gradient {
    background: #CB6010;
    background: linear-gradient(180deg, rgba(203, 96, 16, 1) 0%, rgba(203, 96, 16, 1) 40%, rgba(153, 72, 12, 1) 90%, rgba(145, 69, 11, 1) 100%);
    background-repeat: no-repeat;
}

.orange_dark {
    background-color: rgba(145, 69, 11, 1);
}

.green_gradient {
    background: #114F31;
    background: linear-gradient(180deg, rgba(17, 79, 49, 1) 0%, rgba(17, 79, 49, 1) 40%, rgba(12, 55, 34, 1) 90%, rgba(11, 51, 32, 1) 100%);
    background-repeat: no-repeat;
}

.green_dark {
    background-color: rgba(11, 51, 32, 1);
}

img {
    width: 100%;
}

.selector {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 700px;

    user-select: none;

}

.drinks {
    display: flex;

    height: 100%;
    width: fit-content;

    justify-content: flex-start;
    align-items: center;
}

.arrow {
    width: 40px;
    height: 40px;

    margin: 0 10px;
    cursor: pointer;

    transition: transform 0.1s;
}

.arrow:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.selected_drink {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: yellow;*/

    img {
        height: 100%;
        width: auto;
    }
}

.other {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    height: 100%;

    margin-bottom: 10%;
    gap: 60px;

}

.slogan {
    font-size: 100px;
    color: white;
    font-family: "Roca Two", serif;
}

.other_drinks {
    margin-left: 20%;

}

.other_drinks .drink {
    display: inline-flex;

    justify-content: center;
    align-items: center;

    height: 300px;

}

.other_drinks .drink a {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 140px;
    height: 250px;

    overflow: hidden;
}

.first_drink {
    transform: translateX(40px);
}

.other_drinks img {
    width: 300px;
    height: auto;
}


.info {
    margin-top: 50px;

    justify-self: center;

    width: 80vw;
    max-width: 2000px;
}

.back_home {
    display: flex;
    justify-content: flex-end;

    margin-right: 50px;
}

.back_home a {
    text-decoration: none;

    color: white;
}

.description_block {
    margin-left: 20px;

    color: white;
}

.drink_name {
    margin-bottom: 30px;

    font-size: 100px;
    font-weight: bold;
}

.description_text {
    margin-left: 20px;
}

.description_title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.description_paragraph {
    font-size: 24px;
    line-height: 1.5;
}