body {
    margin: 0;
}

.content {
    margin-bottom: 60px;
}

.red {
    background-color: #9f0700;
}

.orange {
    background-color: #cb6010;
}

.green {
    background-color: #114f31;
}

img {
    width: 100%;
}

.selector {
    display: flex;

    justify-content: space-between;
    align-items: center;

    height: 700px;

    user-select: none;

}

.drinks {
    display: flex;

    height: 100%;
    width: fit-content;

    justify-content: flex-start;
    align-items: center;
}

.arrow {
    width: 40px;
    height: 40px;

    margin: 0 10px;

    background-color: violet;
}

.selected_drink {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

    /*background-color: yellow;*/

    img {
        height: 100%;
        width: auto;
    }
}

.other {
    display: flex;
    flex-direction: column;

    justify-content: flex-end;

    height: 100%;

    margin-bottom: 10%;
    gap: 60px;

}

.slogan {
    font-size: 100px;
    color: white;
    font-family: "Roca Two", serif;
}

.other_drinks {
    margin-left: 20%;

}

.other_drinks .drink {
    display: inline-flex;

    justify-content: center;
    align-items: center;

    height: 300px;

}

.other_drinks .drink a {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 140px;
    height: 250px;

    overflow: hidden;
}

.first_drink {
    transform: translateX(40px);
}

.other_drinks img {
    width: 300px;
    height: auto;
}


.info {
    margin-top: 50px;

    justify-self: center;

    width: 80vw;
    max-width: 2000px;
}

.back_home {
    display: flex;
    justify-content: flex-end;

    margin-right: 50px;
}

.back_home a {
    text-decoration: none;

    color: white;
}

.description_text {
    margin-left: 20px;

    color: white;
}

.drink_name {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description_title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.description_paragraph {
    font-size: 24px;
    line-height: 1.5;
}