
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.background_image {
    background-image: url("./images/background_main.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.introduction {
    display: flex;

    height: 80vh;

    justify-content: flex-start;
    align-items: center;

    background-color: #0077ccd0;
}

.introduction_text {
    margin-left: 10vw;
    padding-bottom: 80px;

    font-size: 30px;
    max-width: 800px;

    color: white;
}

.content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 0 100px 100px 100px;
    margin-top: 0px;
}

.info {
    display: flex;

    max-width: 1200px;

    margin: 10px 0 50px 0;
    gap: 20px;
}

.info_image {
    display: flex;

    width: 1600px;

    margin-right: 20px;

    justify-content: center;
    align-items: center;

    user-select: none;
}

.info_image img {
    width: 120%;
    height: auto;
}

.info_text {
    margin-top: 70px;

    font-size: 22px;
}

.theme_selector {
    display: flex;

    margin-right: 200px;

    height: 40px;
    width: 100px;

    align-self: flex-end;
    align-items: center;
    justify-content: center;

    border-radius: 0 0 10px 10px;

    font-size: 14px;
    font-weight: 600;

    cursor: pointer;
    transition: 0.2s;

    background-color: rgb(180, 180, 180)
}

.theme_selector:hover {
    background-color: rgb(190, 190, 190);
}

.drink_list {
    display: flex;

    gap: 20px;
}

.drink_list a {
    border-radius: 20px;

    text-decoration: none;
    color: black;
}

.drink_item {
    display: flex;;
    flex-direction: column;

    width: 300px;
    height: 380px;

    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;

    overflow: hidden;
    
    transition: transform 0.1s;
}

.drink_item:hover {
    transform: scale(1.02);
    transition: transform 0.2s;
}

.drink_item img {
    width: 100%;
    height: 250px;

    object-fit: contain;
}

.item_more {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 80px;

    margin-top: 10px;

    font-size: 24px;

    border-top: 2px solid rgba(0, 0, 0, 0.6);

    background-color: rgb(180, 180, 180);
}

.coca-cola {
    background-color: #9f0700;
}

.fanta {
    background-color: #cb6010;
}

.sprite {
    background-color: #114f31;
}

.drink_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Dark Mode */

body.dark {
    background-color: rgb(48, 48, 48);
    color: white;
}

body.dark .introduction {
    background-color: rgba(0, 0, 0, 0.747);
}

body.dark .theme_selector {
    background-color: black;
}

body.dark .theme_selector:hover {
    background-color: rgb(114, 114, 114);
}