
body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* New code */

.background_image {
    background-image: url("./images/background_main.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
}

.introduction {
    display: flex;

    height: 80vh;

    justify-content: flex-start;
    align-items: center;

    background-color: #0077ccd0;

}

.introduction_text {
    margin-left: 10vw;

    color: white;
    font-size: 24px;
    max-width: 800px;
}

.content {
    display: flex;

    justify-content: space-around;

    padding: 50px 100px;
    margin-top: 20px;

    /*background-color: red;*/
}

.info {
    display: flex;
    flex-direction: column;

    width: 400px;

    /*background-color: indigo;*/

    .info_text {
        padding: 10px;
        /*background-color: yellow;*/
    }

    
}


.drink_list {
    display: flex;

    flex-direction: column;

    gap: 20px;
    /*background-color: aqua;*/
}

.drink_item {
    width: 300px;
    height: 300px;

    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 20px;

    overflow: hidden;

   
}

.coca-cola {
    background-color: #9f0700;
}

.fanta {
    background-color: #cb6010;
}

.sprite {
    background-color: #114f31;
}

.drink_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}