
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;
}


header {
    background-color: #0077cc;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav .active,
nav a:hover {
    text-decoration: underline;
}


.section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    color: #0077cc;
}


.main-img {
    max-width: 90%;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.drink {
    background: white;
    margin: 25px auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.drink img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}


footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
}

/* New code */

.background_image {
    background-image: url("https://m.media-amazon.com/images/I/71dbpZQe1eL._SX679_PIbundle-18,TopRight,0,0_AA679SH20_.jpg");
    background-size: auto;
    background-position: center;
}

.introduction {
    display: flex;

    height: 550px;

    justify-content: center;
    align-items: center;

    background-color: #0077ccd0;

}

.introduction_text {
    color: white;
    font-size: 24px;
    max-width: 800px;
}